*{
  font-family: 'Noto Sans', sans-serif;
  color: rgb(22, 22, 91);
}
.header-top i {
  padding: 7px;
}
.container{
  width: 1250px;
}
 
/* .menu{
  width: 100%;
  background: red;
  position:fixed;
  top: 46;
  opacity:89768756;
} */
.nav-item a {
    color: rgb(8, 8, 91);
    font-size: 18px;
    font-weight: 500;
    padding-left: 35px !important;
}

.cname{
  color: rgb(23, 23, 84);
  font-weight: 800;
  font-size: 22px;
}
.banner{
    width: 100%;
    height:600px;
    background:url('../image/banner.webp')no-repeat center;
    background-size: cover;
    padding-top: 50px !important;
    margin-bottom: 50px !important; 
}
.boxes {
  margin:auto;
}
.boxes img{
  width: 193px !important;
  height: 193px !important;
}
.boxes label{
  font-weight:500;
  font-size: 18px;
}

.box-section{
  padding:80px 0px !important;
  border-top: 2px dotted rgb(210, 208, 208);
}
.heading{
  padding: 220px 10px 10px 90px;
}

.about{
  margin-top: 100px;
}
.dot-border{
  padding: 30px 0px;
  border-bottom: 2px dotted  rgb(210, 208, 208);;
}
.contact input{
  margin: 10px;
  padding: 8px 8px;
  padding-right: 80px !important;
  font-size: 18px;
  border-radius: 10px;
  width: 100%;
}
.cart-button:hover{
  color: white !important;
}
.contact textarea{
  margin: 10px;
  font-size: 18px;
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 8px;
  resize: none;
}

.footer h5{
  font-size: 16px;
  font-weight: 800;
}
.footer li{
  list-style: none;
  font-size: 13px;
}
.footer ul{
  padding: 0px;
}
.footer i{
  margin-left: 10px;
}
.item img{
  width: 213px !important;
  height: 213px !important;
}
.imgtest img{
  width: 100%;
}

.card-wrapper{
    max-width: 1100px;
    margin: 0 auto;
}
.card-wrapper img{
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 1rem;
}
.product-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #0c2454;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
    color: #ffc107 ;
}
.product-rating span{
    font-weight: 600;
    color: #252525;
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.product-price span{
    font-weight: 400;
}
.last-price span{
    color: #f64749;
    text-decoration: line-through;
}
.new-price span{
    color: #256eff;
}
.product-detail h2{
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}
.product-detail p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}
.product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}
.product-detail ul li{
    margin: 0;
    list-style: none;
    background: url("../image/bluecheckbox.png") left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.product-detail ul li span{
    font-weight: 400;
}
.purchase-info{
    margin: 1.5rem 0;
}

.purchase-info input, .purchase-info .btn {
    border: 1.5px solid #ddd;
    border-radius: 12px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 4px;
}
.purchase-info input{
    width: 60px;
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}
.purchase-info .btn:first-of-type{
    background: #26136a;
}
.purchase-info .btn:last-of-type{
    background: #26136a;
}
.purchase-info .btn:hover{
    opacity: 0.9;
}
.social-links{
    display: flex;
    align-items: baseline;
    margin-left: 10px;
}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
    
}
.social-links a:hover{
    background: rgb(33, 33, 111);
    border-color: transparent;
    color: white !important;
}
.social-links i:hover{
    background-color: #26136a;
    border-color: #f0e6e6;
    color: #f0e6e6;
}
.fa-shopping-cart{
    color: white !important;
}



#wrap{
	width: 90%;
	max-width: 1100px;
	margin: 50px auto;
}
.columns_2 figure{
   width:49%;
   margin-right:1%;
}
.columns_2 figure:nth-child(2){
	margin-right: 0;
}
.columns_3 figure{
   width:32%;
   margin-right:1%;
}
.columns_3 figure:nth-child(3){
	margin-right: 0;
}
.columns_4 figure{
   width:24%;
   margin-right:1%;
}
.columns_4 figure:nth-child(4){
	margin-right: 0;
}
.columns_5 figure{
   width:19%;
   margin-right:1%;
}
.columns_5 figure:nth-child(5){
	margin-right: 0;
}
#columns figure:hover{
	-webkit-transform: scale(1.1);
	-moz-transform:scale(1.1);
	transform: scale(1.1);

}
/* #columns:hover figure:not(:hover) {
	opacity: 0.4;
} */
div#columns figure {
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 0px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

div#columns figure img {
	width: 200px;
    height: 200px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

div#columns figure figcaption {
  font-size: .9rem;
  color: #444;
  line-height: 1.5;
  height:60px;
  font-weight:600;
  text-overflow:ellipsis;
}

a.button{
  padding:10px;
  background:#26136a;
  margin:10px;
  display:block;
  text-align:center;
  color:#fff;
  transition:all 0.5s linear;
  text-decoration:none;
  text-shadow:1px 1px 3px rgba(0,0,0,0.3);
  border-radius:3px;
  box-shadow:1px 1px 3px rgba(0,0,0,0.3);
}
a.button:hover{
  background: white;
  color: #26136a;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid #26136a;
  padding:5px 20px;
  
}
.office-info label{
  font-size: 20px;
  padding-left: 10px !important;
}
.office-info p{
  font-size: 15px !important;
  padding-left: 10px !important;
}
.office-info i{
  font-size: 22px;
  margin-top: 5px;
}